strict-peer-dependencies=false
shared-workspace-lockfile=true
auto-install-peers=true
save-workspace-protocol=rolling
dedupe-peer-dependents=true
prefer-workspace-packages=true

# 发布配置
registry=https://registry.npmjs.org/
@bzehua:registry=https://registry.npmjs.org/

# 确保只发布明确标记为公共的包
publish-branch=main
publish-exact=true
git-checks=true
